/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-family: arial;
}

.flex {
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom-small {
  padding-bottom: 10px;
}

.padding-right {
  padding-right: 25px;
}

.padding-right-small {
  padding-right: 10px;
}

.padding-left-small {
  padding-left: 10px;
}

.selector {
  width: 100%;
}

.hidden {
  display: none;
}

.brand-selector label {
  display: block;
  padding-bottom: 5px;
}

.brand-comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comparison-box {
  width: 40%;
  flex-grow: 1;
}

.right-align {
  text-align: right;
}

.brand-image {
  width: 60%;
}

.divider {
  background: black;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid white;
}

.call-to-compare {
  padding-right: 20px;
  text-align: center;
}